
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Manifest Loader &#8212; django-manifest-loader 1.01 documentation</title>
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="../_static/alabaster.css" type="text/css" />
    <script id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
    <script src="../_static/jquery.js"></script>
    <script src="../_static/underscore.js"></script>
    <script src="../_static/doctools.js"></script>
    <script src="../_static/language_data.js"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="prev" title="Django-manifest-loader’s documentation!" href="../index.html" />
   
  <link rel="stylesheet" href="../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="django-manifest-loader">
<h1>Django Manifest Loader<a class="headerlink" href="#django-manifest-loader" title="Permalink to this headline">¶</a></h1>
<p><a class="reference external" href="https://travis-ci.org/shonin/django-manifest-loader"><img alt="Build Status" src="https://img.shields.io/travis/shonin/django-manifest-loader/main?label=latest%20published%20branch&amp;style=flat-square" /></a>
<a class="reference external" href="https://travis-ci.org/shonin/django-manifest-loader"><img alt="Build Status" src="https://img.shields.io/travis/shonin/django-manifest-loader/dev?label=development%20branch&amp;style=flat-square" /></a>
<a class="reference external" href="#"><img alt="contributions welcome" src="https://img.shields.io/badge/contributions-welcome-brightgreen.svg?style=flat-square" /></a></p>
<p><em>Always have access to the latest webpack assets, with minimal configuration. Wraps Django’s built in
<code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">static</span> <span class="pre">%}</span></code> templatetag to allow you to link to assets according to a webpack manifest file. Handles webpack’s
split chunks.</em></p>
</div>
<div class="section" id="about">
<h1>About<a class="headerlink" href="#about" title="Permalink to this headline">¶</a></h1>
<p>At it’s heart Django Manifest Loader is an extension to Django’s built-in <code class="docutils literal notranslate"><span class="pre">static</span></code> templatetag.
When you use the provided <code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">manifest</span> <span class="pre">%}</span></code> templatetag, all the manifest loader is doing is
taking the input string, looking it up against the manifest file, modifying the value, and then
passing along the result to the <code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">static</span> <span class="pre">%}</span></code> template tag. The <code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">manifest_match</span> <span class="pre">%}</span></code> tag works
similarly, just with a bit of additional logic to find all the necessary files and to render the output.</p>
<p><strong>Turns this</strong></p>
<div class="highlight-djangotemplate notranslate"><div class="highlight"><pre><span></span>{% load manifest %}
&lt;script src=&quot;{% manifest &#39;main.js&#39; %}&quot; /&gt;
</pre></div>
</div>
<p><strong>Into this</strong></p>
<div class="highlight-djangotemplate notranslate"><div class="highlight"><pre><span></span>&lt;script src=&quot;/static/main.8f7705adfa281590b8dd.js&quot; /&gt;
</pre></div>
</div>
<ul class="simple">
<li><p>For an in-depth look at this package, check out <a class="reference external" href="https://medium.com/&#64;shonin/django-and-webpack-now-work-together-seamlessly-a90cffdbab8e">this blog post here</a></p></li>
<li><p><a class="reference external" href="https://medium.com/&#64;shonin/django-and-webpack-in-4-short-steps-b39bd3380c71">Quick start guide</a></p></li>
</ul>
</div>
<div class="section" id="installation">
<h1>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h1>
<div class="highlight-shell script notranslate"><div class="highlight"><pre><span></span>pip install django-manifest-loader
</pre></div>
</div>
</div>
<div class="section" id="django-setup">
<h1>Django Setup<a class="headerlink" href="#django-setup" title="Permalink to this headline">¶</a></h1>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="c1"># settings.py</span>

<span class="n">INSTALLED_APPS</span> <span class="o">=</span> <span class="p">[</span>
    <span class="o">...</span>
    <span class="s1">&#39;manifest_loader&#39;</span><span class="p">,</span>  <span class="c1"># add to installed apps</span>
    <span class="o">...</span>
<span class="p">]</span>

<span class="n">STATICFILES_DIRS</span> <span class="o">=</span> <span class="p">[</span>
    <span class="n">BASE_DIR</span> <span class="o">/</span> <span class="s1">&#39;dist&#39;</span>  <span class="c1"># the directory webpack outputs to</span>
<span class="p">]</span>
</pre></div>
</div>
<p>You must add webpack’s output directory to the <code class="docutils literal notranslate"><span class="pre">STATICFILES_DIRS</span></code> list.
The above example assumes that your webpack configuration is setup to output all files into a directory <code class="docutils literal notranslate"><span class="pre">dist/</span></code> that is
in the <code class="docutils literal notranslate"><span class="pre">BASE_DIR</span></code> of your project.</p>
<p><code class="docutils literal notranslate"><span class="pre">BASE_DIR</span></code>’s default value, as set by <code class="docutils literal notranslate"><span class="pre">$</span> <span class="pre">djagno-admin</span> <span class="pre">startproject</span></code> is <code class="docutils literal notranslate"><span class="pre">BASE_DIR</span> <span class="pre">=</span> <span class="pre">Path(__file__).resolve().parent.parent</span></code>, in general
you shouldn’t be modifying it.</p>
<p><strong>Optional settings,</strong> default values shown.</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="c1"># settings.py</span>

<span class="n">MANIFEST_LOADER</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s1">&#39;output_dir&#39;</span><span class="p">:</span> <span class="kc">None</span><span class="p">,</span>  <span class="c1"># where webpack outputs to, if not set will search in STATICFILES_DIRS for the manifest. </span>
    <span class="s1">&#39;manifest_file&#39;</span><span class="p">:</span> <span class="s1">&#39;manifest.json&#39;</span><span class="p">,</span>  <span class="c1"># name of your manifest file</span>
    <span class="s1">&#39;cache&#39;</span><span class="p">:</span> <span class="kc">False</span><span class="p">,</span>  <span class="c1"># recommended True for production, requires a server restart to pickup new values from the manifest.</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="reference">
<h1>Reference<a class="headerlink" href="#reference" title="Permalink to this headline">¶</a></h1>
<div class="section" id="manifest-tag">
<h2>Manifest Tag<a class="headerlink" href="#manifest-tag" title="Permalink to this headline">¶</a></h2>
<p>Returns the manifest tag</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="nd">@register</span><span class="o">.</span><span class="n">tag</span><span class="p">(</span><span class="s1">&#39;manifest&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">do_manifest</span><span class="p">(</span><span class="n">parser</span><span class="p">,</span> <span class="n">token</span><span class="p">):</span> 

    <span class="k">return</span> <span class="n">ManifestNode</span><span class="p">(</span><span class="n">token</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="manifest-match-tag">
<h2>Manifest Match Tag<a class="headerlink" href="#manifest-match-tag" title="Permalink to this headline">¶</a></h2>
<p>Returns manifest match tag</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="nd">@register</span><span class="o">.</span><span class="n">tag</span><span class="p">(</span><span class="s1">&#39;manifest_match&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">do_manifest_match</span><span class="p">(</span><span class="n">parser</span><span class="p">,</span> <span class="n">token</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">ManifestMatchNode</span><span class="p">(</span><span class="n">token</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="manifestnode">
<h2>ManifestNode<a class="headerlink" href="#manifestnode" title="Permalink to this headline">¶</a></h2>
<p>Initalizes and renders the creation of the manifest  tag</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span>    <span class="sd">&quot;&quot;&quot; Initalizes the creation of the manifest template tag&quot;&quot;&quot;</span>
    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">token</span><span class="p">):</span>
        <span class="n">bits</span> <span class="o">=</span> <span class="n">token</span><span class="o">.</span><span class="n">split_contents</span><span class="p">()</span>
        <span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="n">bits</span><span class="p">)</span> <span class="o">&lt;</span> <span class="mi">2</span><span class="p">:</span>
            <span class="k">raise</span> <span class="n">template</span><span class="o">.</span><span class="n">TemplateSyntaxError</span><span class="p">(</span>
                <span class="s2">&quot;&#39;</span><span class="si">%s</span><span class="s2">&#39; takes one argument (name of file)&quot;</span> <span class="o">%</span> <span class="n">bits</span><span class="p">[</span><span class="mi">0</span><span class="p">])</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">bits</span> <span class="o">=</span> <span class="n">bits</span>


    <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">context</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Renders the creation of the manifest tag&quot;&quot;&quot;</span>
        <span class="n">manifest_key</span> <span class="o">=</span> <span class="n">get_value</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">bits</span><span class="p">[</span><span class="mi">1</span><span class="p">],</span> <span class="n">context</span><span class="p">)</span>
        <span class="n">manifest</span> <span class="o">=</span> <span class="n">get_manifest</span><span class="p">()</span>
        <span class="n">manifest_value</span> <span class="o">=</span> <span class="n">manifest</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">manifest_key</span><span class="p">,</span> <span class="n">manifest_key</span><span class="p">)</span>
        <span class="k">return</span> <span class="n">make_url</span><span class="p">(</span><span class="n">manifest_value</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="manifestmatch-node">
<h2>ManifestMatch Node<a class="headerlink" href="#manifestmatch-node" title="Permalink to this headline">¶</a></h2>
<p>Initalizes and renders the creation of the manifest match tag</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span>    <span class="sd">&quot;&quot;&quot; Initalizes the creation of the manifest match template tag&quot;&quot;&quot;</span>
    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">token</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">bits</span> <span class="o">=</span> <span class="n">token</span><span class="o">.</span><span class="n">split_contents</span><span class="p">()</span>
        <span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">bits</span><span class="p">)</span> <span class="o">&lt;</span> <span class="mi">3</span><span class="p">:</span>
            <span class="k">raise</span> <span class="n">template</span><span class="o">.</span><span class="n">TemplateSyntaxError</span><span class="p">(</span>
                <span class="s2">&quot;&#39;</span><span class="si">%s</span><span class="s2">&#39; takes two arguments (pattern to match and string to &quot;</span>
                <span class="s2">&quot;insert into)&quot;</span> <span class="o">%</span> <span class="bp">self</span><span class="o">.</span><span class="n">bits</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
            <span class="p">)</span>

    <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">context</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot; Renders the manifest match tag&quot;&quot;&quot;</span>
        <span class="n">urls</span> <span class="o">=</span> <span class="p">[]</span>
        <span class="n">search_string</span> <span class="o">=</span> <span class="n">get_value</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">bits</span><span class="p">[</span><span class="mi">1</span><span class="p">],</span> <span class="n">context</span><span class="p">)</span>
        <span class="n">output_tag</span> <span class="o">=</span> <span class="n">get_value</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">bits</span><span class="p">[</span><span class="mi">2</span><span class="p">],</span> <span class="n">context</span><span class="p">)</span>

        <span class="n">manifest</span> <span class="o">=</span> <span class="n">get_manifest</span><span class="p">()</span>

        <span class="n">matched_files</span> <span class="o">=</span> <span class="p">[</span><span class="n">file</span> <span class="k">for</span> <span class="n">file</span> <span class="ow">in</span> <span class="n">manifest</span><span class="o">.</span><span class="n">keys</span><span class="p">()</span> <span class="k">if</span>
                         <span class="n">fnmatch</span><span class="o">.</span><span class="n">fnmatch</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">search_string</span><span class="p">)]</span>
        <span class="n">mapped_files</span> <span class="o">=</span> <span class="p">[</span><span class="n">manifest</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">file</span><span class="p">)</span> <span class="k">for</span> <span class="n">file</span> <span class="ow">in</span> <span class="n">matched_files</span><span class="p">]</span>

        <span class="k">for</span> <span class="n">file</span> <span class="ow">in</span> <span class="n">mapped_files</span><span class="p">:</span>
            <span class="n">url</span> <span class="o">=</span> <span class="n">make_url</span><span class="p">(</span><span class="n">file</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
            <span class="n">urls</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
        <span class="n">output_tags</span> <span class="o">=</span> <span class="p">[</span><span class="n">output_tag</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">match</span><span class="o">=</span><span class="n">file</span><span class="p">)</span> <span class="k">for</span> <span class="n">file</span> <span class="ow">in</span> <span class="n">urls</span><span class="p">]</span>
        <span class="k">return</span> <span class="s1">&#39;</span><span class="se">\n</span><span class="s1">&#39;</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">output_tags</span><span class="p">)</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="webpack-configuration">
<h1>Webpack configuration<a class="headerlink" href="#webpack-configuration" title="Permalink to this headline">¶</a></h1>
<p>You must install the <code class="docutils literal notranslate"><span class="pre">WebpackManifestPlugin</span></code>. Optionally, but recommended, is to install the <code class="docutils literal notranslate"><span class="pre">CleanWebpackPlugin</span></code>.</p>
<div class="highlight-shell script notranslate"><div class="highlight"><pre><span></span>npm i --save-dev webpack-manifest-plugin clean-webpack-plugin
</pre></div>
</div>
<div class="highlight-javascript notranslate"><div class="highlight"><pre><span></span><span class="c1">// webpack.config.js</span>

<span class="kr">const</span> <span class="p">{</span> <span class="nx">CleanWebpackPlugin</span> <span class="p">}</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">&#39;clean-webpack-plugin&#39;</span><span class="p">);</span>
<span class="kr">const</span> <span class="nx">ManifestPlugin</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">&#39;webpack-manifest-plugin&#39;</span><span class="p">);</span>

<span class="nx">module</span><span class="p">.</span><span class="nx">exports</span> <span class="o">=</span> <span class="p">{</span>
  <span class="p">...</span>
  <span class="nx">plugins</span><span class="o">:</span> <span class="p">[</span>
      <span class="k">new</span> <span class="nx">CleanWebpackPlugin</span><span class="p">(),</span>  <span class="c1">// removes outdated assets from the output dir</span>
      <span class="k">new</span> <span class="nx">ManifestPlugin</span><span class="p">(),</span>  <span class="c1">// generates the required manifest.json file</span>
  <span class="p">],</span>
  <span class="p">...</span>
<span class="p">};</span>
</pre></div>
</div>
</div>
<div class="section" id="usage">
<h1>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h1>
<p>Django Manifest Loader comes with two template tags that house all logic. The <code class="docutils literal notranslate"><span class="pre">manifest</span></code> tag takes a single string
input, such as <code class="docutils literal notranslate"><span class="pre">'main.js'</span></code>, looks it up against the webpack manifest, and then outputs the url to that compiled file.
It works just like Django’s built it <code class="docutils literal notranslate"><span class="pre">static</span></code> tag, except it’s finding the correct filename.</p>
<p>The <code class="docutils literal notranslate"><span class="pre">manifest_match</span></code> tag takes two arguments, a sting to pattern match filenames against, and a string to embed matched file
urls into. See the <code class="docutils literal notranslate"><span class="pre">manifest_match</span></code> section for more information.</p>
<div class="section" id="single-file-use-for-cache-busting-manifest-tag">
<h2>Single file use (for cache busting) (<code class="docutils literal notranslate"><span class="pre">manifest</span></code> tag)<a class="headerlink" href="#single-file-use-for-cache-busting-manifest-tag" title="Permalink to this headline">¶</a></h2>
<div class="highlight-djangotemplate notranslate"><div class="highlight"><pre><span></span>{% load manifest %}

&lt;script src=&quot;{% manifest &#39;main.js&#39; %}&quot;&gt;&lt;/script&gt;
</pre></div>
</div>
<p>turns into</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;/static/main.8f7705adfa281590b8dd.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</pre></div>
</div>
<p>Where the argument to the tag will be the original filename of a file processed by webpack. If in doubt, check your
<code class="docutils literal notranslate"><span class="pre">manifest.json</span></code> file generated by webpack to see what files are available.</p>
<p>The reason this is worth while is because of the content hash after the original filename, which will invalidate the
browser cache every time the file is updated. This ensures that your users always have the latest assets.</p>
</div>
<div class="section" id="split-chunks-manifest-match-tag">
<h2>Split chunks (<code class="docutils literal notranslate"><span class="pre">manifest_match</span></code> tag)<a class="headerlink" href="#split-chunks-manifest-match-tag" title="Permalink to this headline">¶</a></h2>
<div class="highlight-djangotemplate notranslate"><div class="highlight"><pre><span></span>{% load manifest %}

{% manifest_match &#39;*.js&#39; &#39;&lt;script src=&quot;{match}&quot;&gt;&lt;/script&gt;&#39; %}
</pre></div>
</div>
<p>turns into</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;/static/vendors~main.3ad032adfa281590f2a21.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;/static/main.8f7705adfa281590b8dd.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</pre></div>
</div>
<p>This tag takes two arguments, a pattern to match against, according to the rules of the python fnmatch package,
and a string to input the file urls into. The second argument must contain the string <code class="docutils literal notranslate"><span class="pre">{match}</span></code>, as it is what
is replaced with the urls.</p>
</div>
</div>
<div class="section" id="urls-in-manifest-file">
<h1>URLs in Manifest File<a class="headerlink" href="#urls-in-manifest-file" title="Permalink to this headline">¶</a></h1>
<p>If your manifest file points to full urls, instead of file names, the full url will be output instead of pointing
to the static file directory in Django.</p>
<p>Example:</p>
<div class="highlight-json notranslate"><div class="highlight"><pre><span></span><span class="p">{</span>
  <span class="nt">&quot;main.js&quot;</span><span class="p">:</span> <span class="s2">&quot;http://localhost:8080/main.js&quot;</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="highlight-djangotemplate notranslate"><div class="highlight"><pre><span></span>{% load manifest %}

&lt;script src=&quot;{% manifest &#39;main.js&#39; %}&quot;&gt;&lt;/script&gt;
</pre></div>
</div>
<p>Will output as:</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;http://localhost:8080/main.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</pre></div>
</div>
<div class="section" id="suggested-project-structure">
<h2>Suggested Project Structure<a class="headerlink" href="#suggested-project-structure" title="Permalink to this headline">¶</a></h2>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span>BASE_DIR
├── dist
│   ├── main.f82c02a005f7f383003c.js
│   └── manifest.json
├── frontend
│   ├── apps.py
│   ├── src
│   │   └── index.js
│   ├── templates
│   │   └── frontend
│   │       └── index.html
│   └── views.py
├── manage.py
├── package.json
├── project
│   ├── settings.py
│   ├── urls.py
│   └── wsgi.py
├── requirements.txt
└── webpack.config.js
</pre></div>
</div>
</div>
<div class="section" id="cache-busting-and-split-chunks-the-problem-this-package-solves">
<h2>Cache Busting and Split Chunks (the problem this package solves)<a class="headerlink" href="#cache-busting-and-split-chunks-the-problem-this-package-solves" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><p><a class="reference external" href="https://www.keycdn.com/support/what-is-cache-busting">What is cache busting?</a></p></li>
<li><p><a class="reference external" href="https://medium.com/hackernoon/the-100-correct-way-to-split-your-chunks-with-webpack-f8a9df5b7758">The 100% correct way to split your chunks with Webpack</a></p></li>
</ul>
</div>
<div class="section" id="tests-and-code-coverage">
<h2>Tests and Code Coverage<a class="headerlink" href="#tests-and-code-coverage" title="Permalink to this headline">¶</a></h2>
<p>Run unit tests and verify 100% code coverage with:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">git</span> <span class="n">clone</span> <span class="n">https</span><span class="p">:</span><span class="o">//</span><span class="n">github</span><span class="o">.</span><span class="n">com</span><span class="o">/</span><span class="n">shonin</span><span class="o">/</span><span class="n">django</span><span class="o">-</span><span class="n">manifest</span><span class="o">-</span><span class="n">loader</span><span class="o">.</span><span class="n">git</span>
<span class="n">cd</span> <span class="n">django</span><span class="o">-</span><span class="n">manifest</span><span class="o">-</span><span class="n">loader</span>
<span class="n">pip</span> <span class="n">install</span> <span class="o">-</span><span class="n">e</span> <span class="o">.</span>

<span class="c1"># run tests</span>
<span class="n">python</span> <span class="n">runtests</span><span class="o">.</span><span class="n">py</span>

<span class="c1"># check code coverage</span>
<span class="n">pip</span> <span class="n">install</span> <span class="n">coverage</span>
<span class="n">coverage</span> <span class="n">run</span> <span class="o">--</span><span class="n">source</span><span class="o">=</span><span class="n">manifest_loader</span><span class="o">/</span> <span class="n">runtests</span><span class="o">.</span><span class="n">py</span>
<span class="n">coverage</span> <span class="n">report</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="contributing">
<h1>Contributing<a class="headerlink" href="#contributing" title="Permalink to this headline">¶</a></h1>
<p>Do it. Please feel free to file an issue or open a pull request. The code of conduct is basic human kindness.</p>
</div>
<div class="section" id="license">
<h1>License<a class="headerlink" href="#license" title="Permalink to this headline">¶</a></h1>
<p>Django Manifest Loader is distributed under the <a class="reference external" href="https://opensource.org/licenses/BSD-3-Clause">3-clause BSD license</a>.
This is an open source license granting broad permissions to modify and redistribute the software.</p>
</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../index.html">django-manifest-loader</a></h1>








<h3>Navigation</h3>
<ul class="current">
<li class="toctree-l1 current"><a class="current reference internal" href="#">Django Manifest Loader</a></li>
<li class="toctree-l1"><a class="reference internal" href="#about">About</a></li>
<li class="toctree-l1"><a class="reference internal" href="#installation">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="#django-setup">Django Setup</a></li>
<li class="toctree-l1"><a class="reference internal" href="#reference">Reference</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#manifest-tag">Manifest Tag</a></li>
<li class="toctree-l2"><a class="reference internal" href="#manifest-match-tag">Manifest Match Tag</a></li>
<li class="toctree-l2"><a class="reference internal" href="#manifestnode">ManifestNode</a></li>
<li class="toctree-l2"><a class="reference internal" href="#manifestmatch-node">ManifestMatch Node</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="#webpack-configuration">Webpack configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="#usage">Usage</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#single-file-use-for-cache-busting-manifest-tag">Single file use (for cache busting) (<code class="docutils literal notranslate"><span class="pre">manifest</span></code> tag)</a></li>
<li class="toctree-l2"><a class="reference internal" href="#split-chunks-manifest-match-tag">Split chunks (<code class="docutils literal notranslate"><span class="pre">manifest_match</span></code> tag)</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="#urls-in-manifest-file">URLs in Manifest File</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#suggested-project-structure">Suggested Project Structure</a></li>
<li class="toctree-l2"><a class="reference internal" href="#cache-busting-and-split-chunks-the-problem-this-package-solves">Cache Busting and Split Chunks (the problem this package solves)</a></li>
<li class="toctree-l2"><a class="reference internal" href="#tests-and-code-coverage">Tests and Code Coverage</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="#contributing">Contributing</a></li>
<li class="toctree-l1"><a class="reference internal" href="#license">License</a></li>
</ul>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="../index.html" title="previous chapter">Django-manifest-loader’s documentation!</a></li>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>








        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;3-Clause BSD License.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 3.3.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="../_sources/options/README.md.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>